<!DOCTYPE html>
<html>
<head>
    <title>Оформить предзаказ</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style_reg.css' %}">
</head>
<body>
    <div class="container">
        <h1>Оформить предзаказ</h1>
        <form method="post" action="{% url 'order_success' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Продолжить</button>
        </form>
        <a href="{% url 'home' %}">Назад</a>
    </div>
</body>
</html>
